.hotelItem {
  border-top: 1px solid $GrayThin;
  padding: 40px;
  overflow: hidden;
  @include mq(0, 1280px) {
    padding: 20px;
  }

  figure {
    position: relative;
    width: 40%;
    height: 200px;
    overflow: hidden;
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    align-items: start;
    img {
      width: 100%;
    }
  }
  .figure {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include mq(0,512px) {
      width: calc(100% + 40px);
      left: -20px;
      top: -20px;
    }
  }

  .center {
    display: inline-block;
    margin-left: 5%;
    width: 350px;
    width: calc(95% - 200px);
    @include mq(0, 768px) {
      width: 100%;
      margin-left: 0;
    }

    .hotelHeader {
      border-bottom: 1px solid $GrayThin;
      padding-bottom: 5px;

      h2 {
        @include fontM($PrimaryColor);
      }

      p {
        @include fontXS;
        display: inline-block;
        margin-left: 10px;
      }
      @include mq(0,1024px) {
        padding-bottom: 10px;
      }
      @include mq(0,768px) {
        padding-top: 10px;
      }
      @include mq(0,512px) {
        padding-top: 0;
      }
    }

    .hotelList {
      display: inline-block;
      margin-top: 20px;
      @include mq(0, 1280px) {
        margin-top: 15px;
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        li {
          @include fontXS;
          display: inline-block;
          margin: 5px;
          @include mq(0, 600px) {
            display: block;
            line-height: 18px;
          }

          a {
            color: $GrayMedium;
            text-decoration: none;
            cursor: pointer;
            span {
              color: $GrayBold;
              font-weight: 700;
              margin-right: 4px;
            }

            &:hover {
              span {
                color: $PrimaryColor;
              }
            }
          }
        }
      }
    }
  }

  aside {
    &.right {
      vertical-align: top;
      text-align: right;
      float: right;
      max-width: 22%;
      @include mq(0, 768px) {
        float: none;
        margin-top: 20px;
        text-align: left;
        max-width: 100%;
      }

      .hotelPriceContainer {
        .hotelPrice {
          @include fontM($PrimaryColor);
          margin-bottom: 40px;
          @include mq(0, 1280px) {
            margin-bottom: 20px;
          }

          span {
            @include fontXS;
            display: block;
            margin-top: 5px;
          }
        }

        .btn {
          min-width: 120px;
          line-height: 35px;

          &:hover {
            color: $White;
          }
        }
      }
    }
  }
}
