.searchbar {
  &__types {
    li {
      display: inline-block;
      @include fontM($White);
      cursor: pointer;
      transition: color .2s ease-in;
      &:hover,
      &.active {
        color: $PrimaryColor;
      }
    }
    li + li {
      margin-left: 10px;
    }
  }
  &__container {
    display: inline-block;
    position: relative;
  }
  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    li {
      background-color: $White;
      @include fontS;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: $GrayLight;
        color:$GrayBold;
      }
    }
  }
}
