.searchbar {
  &__types {
    li {
      display: inline-block;
      @include fontM($White);
      cursor: pointer;
      transition: color .2s ease-in;
      &:hover,
      &.active {
        color: $PrimaryColor;
      }
    }
    li + li {
      margin-left: 10px;
    }
  }
  &__filters {
    display: flex;
  }
  &__container {
    flex-grow: 1;
    position: relative;
    input {
      width: 100%;
    }
  }
  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    li {
      background-color: $White;
      @include fontS;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background-color: $GrayLight;
        color:$GrayBold;
      }
    }
  }
  .datePicker {
    position: absolute;
  }
  .btn {
    margin-left: 10px;
  }
}
