.searchbar {
  position: relative;
  z-index: 3;
  max-width: 1280px;
  margin: 0 auto;
  &.secondary {
    margin-top: 40px;
    padding: 0 20px;
    .searchbar__types li {
      color: $GrayLight;
      &:hover,
      &.active {
        color: $PrimaryColor;
      }
    }
    .checkField {
      //padding-top: 15px;
      color: $GrayRegular;
      label {
        color: $GrayRegular;
      }
    }
  }
  &__types {
    margin: 10px;
    margin-top: 0;
    li {
      display: inline-block;
      @include fontM($White);
      cursor: pointer;
      transition: color .2s ease-in;
      &:hover,
      &.active {
        color: $PrimaryColor;
      }
      i {
        margin-right: 10px;
        display: inline-block;
        vertical-align: baseline;
      }
    }
    li + li {
      margin-left: 20px;
    }
  }
  &__filters {
    display: flex;
    align-items: baseline;
  }
  &__container {
    flex-grow: 1;
    position: relative;
    input {
      width: 100%;
    }
    .placeholder {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      cursor: pointer;
      height: 48px;
    }
    .loading {
      position: absolute;
      right: 10px;
      width: 40px;
      top: 5px;
      svg {
        width: 100%;
      }
    }
  }
  &__results {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    li {
      background-color: $White;
      @include fontS;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background-color: $GrayLight;
        color:$GrayBold;
      }
    }
  }
  .datePicker {
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    max-width: 400px;
  }
  .btn {
    margin-left: 10px;
  }
  .checkField {
    color: $GrayLight;
    label {
      @include fontS($GrayLight);
      vertical-align: baseline;
      &:after {
        //top: 13px;
      }
    }
  }
  @include mq(0,1280px) {
    &__filters {
      flex-wrap: wrap;
    }
    &__container {
      width: 100%;
    }
    .checkField {
      margin: 10px;
      label:after {
        //top: 9px;
      }
    }
    .btn {
      margin: 0 auto;
      margin-top: 20px;
    }
    &.secondary .checkField label {
      //padding-top: 10px;
    }
  }
  @include mq(0,768px) {
    .checkField label {
      padding-left: 20px;
    }
  }
}
