.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
  &:hover {
    .inner-hero div {
      transform: scale(1.2);
    }
  }

  .inner-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    div {
      background-position: center center;
      background-size: cover;
      transition: all 20s ease-out;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.1);
      }
    }
  }

  .wrapper {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    position: relative;
    z-index: 2;
    @include mq(0, 768px) {
      top: 53%;
    }
    h1 {
      @include fontGiant($White);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

      strong {
        font-weight: $Bold;
      }
      @include mq(0,600px) {
        font-size: 30px;
      }
      @include mq(0,400px) {
        font-size: 25px;
      }
    }

    .booking-mask {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px 40px;
      text-align: left;
      @include fontXL;
      max-width: 1440px;
      margin: 60px auto 0;
      @include mq(0, 768px) {
        margin: 20px auto 0;
        padding: 20px;
      }
    }
  }

  .arrow-down {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.4s ease-in;

    &:hover {
      transform: translate(-50%, 15%);
    }
  }
}
