.results {
  font-size: 0;
  position: relative;
  overflow: hidden;
  @include mq(0, 600px) {
    padding: 10px;
  }

  &__foundItems {
    @include fontM;
    margin-top: 20px;
  }
  aside {
    font-size: 20px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    @include mq(0, 980px) {
      width: 100%;
    }
  }

  .resultList {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    max-width: 840px;
    border: 1px solid $GrayLight;
    border-top: none;
    position: relative;
    vertical-align: top;
    @include mq(0, 1180px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .ads {
    font-size: 20px;
    background: green;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    @include mq(0, 980px) {
      width: 100%;
    }
  }
}
.noResult {
  padding: 40px;
  position: relative;
  border-top: 1px solid #CCC;
  font-family: $Roboto;
  font-size: 14px;
  line-height: 17px;

  p {
    display: block;
    text-align: center;
    color: $SecondaryColor;
  }

  span {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 12px;
    @include mq(0, 600px) {
      right: 10px;
      bottom: 10px;
    }
  }
}
