.results {
  font-size: 0;
  position: relative;
  overflow: hidden;
  margin: 40px auto;
  @include mq(0, 600px) {
    padding: 0;
  }
  &__foundItems {
    @include fontM;
    margin: 20px 0;
  }
}
.noResults {
  @include fontL;
  text-align: center;
  margin: 40px auto;
}
