.sort {
  background: $GrayThin;
  margin-bottom: 20px;
  .wrapper {
    @include mq(0, 768px) {
      padding: 0;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    li {
      @include fontS;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 36px;
      cursor: pointer;
      transition: all .2s ease-in;
      &.selected,
      &:hover {
        background: $GrayRegular;
        color:$White;
      }
      &:after {
        margin-left: 5px;
        display: inline-block;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &.asc:after {
        content: "\e907";
        transform: rotate(180deg);
        transform-origin: center;
        position: relative;
        top: 2px;
      }
      &.desc:after {
        content: "\e907";
      }
      @include mq(0, 768px) {
        flex: 0 0 100%;
      }
    }
  }
}
