.sideBar {
  width: 400px;
  margin: 20px auto;
  margin-right: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
  padding: 20px; }
  .sideBar fieldset {
    width: 100%;
    margin: 20px 0;
    padding: 0 20px; }
  .sideBar legend {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .sideBar .input-range {
    margin: 30px auto 40px; }
  .sideBar hr {
    border-style: none;
    height: 1px;
    background-color: lightgray; }
  .sideBar .flightLegend {
    font-family: Roboto;
    text-transform: uppercase;
    color: #222;
    font-size: .9em; }
    .sideBar .flightLegend span {
      color: orange; }
  .sideBar .input-range__slider {
    background-color: orange;
    border-color: goldenrod; }
  .sideBar .input-range__track--active {
    background-color: orange; }
