.wot {
  .wrapper {
    font-size: 0;
  }

  aside {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    padding-top: 40px;
    text-align: right;
    @include mq(0,768px) {
      max-width: 100px;
    }
    @include mq(0,512px) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;

      li {
        display: block;
        margin: 0 0 5px;
      }
    }
    li {
      margin: 5px 0;
    }
    a {
      @include fontS(#484848);
      text-decoration: none;

      &:hover {
        color: $SecondaryColor;
      }

      &.selected {
        color: $SecondaryColor;
      }
    }
  }

  article {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 240px);
    min-height: 680px;
    height:100%;
    padding-bottom: 40px;
    @include fontS;
    @include mq(0,768px) {
      width: calc(100% - 140px);
    }
    @include mq(0,512px) {
      width: 100%;
    }

    .header {
      background-color: $GrayRegular;
      color: #FFF;
      @include fontXL($White);
      width: 100%;
      padding-left: 50px;
      padding-top: 80px;
      margin-bottom: 40px;
      max-width: 100%;
      text-align: left;
      z-index: 1;
    }

    p {
      margin-bottom: 20px;

      &.title {
        @include fontM($GrayBold);
        margin-bottom: 10px;
      }

    }
    a {
      color: $SecondaryColor;
    }

    ul {
      margin-left: 40px;
      margin-bottom: 20px;

      li {
        list-style-type: disc;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    dl {
      margin-top: 20px;

      dt {
        @include fontM($GrayBold);
        margin-bottom: 8px;
      }

      dd {
        margin-bottom: 20px;
      }
    }
  }
}
