.wot {
    font-family: $Roboto;
    color: $Black;
    .wrapper {
        font-size: 0;
        
        aside {
            max-width: 200px;
            width:100%;
            display: inline-block;
            font-size: 14px;
            text-align: right;
            margin-right: 40px;
            vertical-align: top;
            padding-top: 40px;
            line-height: 30px;
            color:$SecondaryColor;
            @include mq(0,768px){
                max-width: 100px;
            }
            @include mq(0,512px){
                max-width: 100%;
                text-align: center;
                margin-bottom: 20px;
                li {
                    display: block;
                    margin: 0 0 5px 0;
                }
            }
            nav {
                ul {
                    li {
                        color:$SecondaryColor;
                        a {
                            text-decoration: none;
                            color:$SecondaryColor;
                            &:hover {
                                color:$PrimaryColor;
                            }
                            &.selected {
                                color:$PrimaryColor;
                            }
                        }
                    }
                }
            }
        }
        article {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 240px);
            font-size: 14px;
            @include mq(0,768px){
                width: calc(100% - 140px);
                text-align: left;
            }
            @include mq(0,512px){
                width: 100%;
                text-align: left;
            }
            header {
                font-size: 35px;
                color:#FFF;
                background-color: #ADADAD;
                color: #FFF;
                width: 100%;
                padding-left: 50px;
                padding-top: 80px;
                margin-bottom: 40px;
                max-width: 100%;
                text-align: left;
            }
            p {
                margin-bottom: 20px;
                line-height: 17px;
                &.title {
                    font-weight: 700;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                a {
                    color:$PrimaryColor;
                }
            }
            ul {
                margin-left: 40px;
                margin-bottom: 20px;
                li {
                    line-height: 20px;
                    list-style-type: disc;
                    a{
                        color:$Black;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            dl {
                margin-top: 20px;
                dt {
                    font-weight: 700;
                    font-size: 14px;
                    margin-bottom: 8px;
                }
                dd {
                    margin-bottom: 20px;
                    line-height: 17px;
                }
            }
        }
    }
}