.sidebar {
  width: 20%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  position: relative;
  z-index: 2;
  transition: transform .3s ease-in;
  background-color: $White;
  fieldset {
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
  }
  &__legend {
    @include fontXS;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: $Montserrat;
  }
  hr {
    border-style: none;
    height: 1px;
    margin: 20px 0;
    background-color: $GrayLight;
  }
  .flightLegend {
    @include fontXS;
    text-transform: uppercase;
  }
  .input-range {
    margin: 30px auto 50px;
    width: 90%;
    font-family: $Montserrat;
    &__label-container {
      font-family: $Montserrat;
    }
    &__slider {
      background-color: $SecondaryColor;
      border-color: $SecondaryColor;
    }
    &__track--active {
      background-color: $SecondaryColor;
    }
  }
  @include mq(0, 800px) {
    width: calc(100% - 20px);
    position: absolute;
    transform: translateX(-110%);
    &.shown {
      transform: translateX(0);
    }
  }
}
