.sidebar {
  width: 20%;
  transition: transform .3s ease-in;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: $White;
  article {
    position: relative;
    input[type=text] {
      width: 100%;
      padding-right: 40px;
    }
    i {
      font-size: 20px;
      position: absolute;
      right: 10px;
      bottom: 15px;
      cursor: pointer;
      color: $GrayRegular;
      &:hover {
        color: $SecondaryColor;
      }
    }
  }
  fieldset {
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
  }
  &__legend {
    @include fontXS;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: $Montserrat;
  }
  hr {
    border-style: none;
    height: 1px;
    margin: 20px 0;
    background-color: $GrayLight;
  }
  .flightLegend {
    @include fontXS;
    text-transform: uppercase;
  }
  .input-range {
    margin: 30px auto 50px;
    width: 90%;
    font-family: $Montserrat;
    &__label-container {
      font-family: $Montserrat;
    }
    &__slider {
      background-color: $SecondaryColor;
      border-color: $SecondaryColor;
    }
    &__track--active {
      background-color: $SecondaryColor;
    }
  }
  @include mq(0, 1024px) {
    width: 30%;
  }
  @include mq(0, 768px) {
    width: calc(100% - 20px);
    position: absolute;
    transform: translateX(-110%);
    &.shown {
      transform: translateX(0);
    }
  }
}
