/*Generic Components*/

input[type=text],
input[type=email] {
  padding: 13px;
  border: 1px solid $GrayLight;
  @include fontS;

  &[disabled] {
    background-color: $White;
    -webkit-opacity:1;
  }
  &:focus {
    outline: none;
  }
  &.error {
    color: red;
    background-color: #FFB5A9;
  }
}
.btn {
  font-size: 12px;
  font-family: $Montserrat;
  text-transform: uppercase;
  line-height: 45px;
  border: 1px solid $PrimaryColor;
  color: $White;
  background-color: $PrimaryColor;
  display: inline-block;
  min-width: 180px;
  padding: 0 20px;
  transition: all .1s ease-in;
  text-decoration: none;
  text-align: center;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  &.alternative {
    color: $White;
    border-color: $White;
  }
  &.disabled {
    pointer-events: none;
    //color: $GrayLight;
    //border-color: $GrayLight;
  }
  &:hover {
    color: #FFF;
    background-color: $PrimaryColor;
  }
}

.personPicker {
  background-color: $White;
  padding: 0 20px 20px;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  @include fontS;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  > p {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
  }

  &__title {
    min-width: 60px;
    text-align: left;
  }

  &__icon {
    border: 1px solid $GrayLight;
    background-color: $GrayThin;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: all 0.1s ease-in;
    @include fontM;

    &:hover {
      background-color: $SecondaryColor;
      color: $White;
    }
  }

  .radioField {
    padding: 5px 5px 5px 0;
    text-align: left;

    label {
      padding-left: 30px;
      font-size: 14px;

      &:before {
        top: 8px;
      }

      &:after {
        left: 5px;
        top: 13px;
      }
    }
  }
}

.pleaseWait {
  text-align: center;
  margin: 200px auto;

  h1 {
    @include fontGiant;
  }

  h2 {
    @include fontXXL;
  }
  @include mq(0,768px) {
    margin: 50px auto;
  }
}

.pagination {
  @include fontS;
  text-align: center;
  margin: 20px auto;

  li {
    padding: 5px;
    display: inline-block;
    background-color: $GrayRegular;
    cursor: pointer;
    outline: transparent;
    color: $White;
    a {
      color: $White;
      text-decoration: none;
    }
    .break-me {
      pointer-events: none;
    }
    &:hover {
      background-color: $GrayMedium;
    }

    &.active {
      background-color: $PrimaryColor;
    }

    &.disabled {
      cursor: default;
      background-color: $GrayLight;
    }

    &.previous {
      border-radius: 5px 0 0 5px;
    }

    &.next {
      border-radius: 0 5px 5px 0;
    }
  }
}

.langSelector {
  position: relative;
  z-index: 1;
  display: inline-block;
  ::selection {
    background: transparent;
  }
  p {
    color: $GrayRegular;
    cursor: pointer;
  }
  i {
    margin-left: 5px;
  }
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $GrayThin;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  }
  li {
    margin: 5px 0;
    padding: 5px 15px;
    background-color: $GrayThin;
    transition: all .1s ease-in;
    min-width: 140px;
    @include fontS;
    cursor: pointer;
    &:hover {
      background-color: $GrayLight;
    }
  }
  img {
    max-width: 20px;
    margin-right: 5px;
  }
}

ul[data-rating] {
  display: inline-block;

  &[data-rating="1"] {
    li {
      &:nth-child(1) {
        color: $Honey;
      }
    }
  }

  &[data-rating="2"] {
    li {
      &:nth-child(1) {
        color: $Honey;
      }

      &:nth-child(2) {
        color: $Honey;
      }
    }
  }

  &[data-rating="3"] {
    li {
      &:nth-child(1) {
        color: $Honey;
      }

      &:nth-child(2) {
        color: $Honey;
      }

      &:nth-child(3) {
        color: $Honey;
      }
    }
  }

  &[data-rating="4"] {
    li {
      &:nth-child(1) {
        color: $Honey;
      }

      &:nth-child(2) {
        color: $Honey;
      }

      &:nth-child(3) {
        color: $Honey;
      }

      &:nth-child(4) {
        color: $Honey;
      }
    }
  }

  &[data-rating="5"] {
    li {
      &:nth-child(1) {
        color: $Honey;
      }

      &:nth-child(2) {
        color: $Honey;
      }

      &:nth-child(3) {
        color: $Honey;
      }

      &:nth-child(4) {
        color: $Honey;
      }

      &:nth-child(5) {
        color: $Honey;
      }
    }
  }

  li {
    font-size: 12px;
    color: $GrayLight;
    display: inline-block;
    opacity: 0.8;
  }
}
