/*Config File*/
/*Fonts*/
$MiradorMedium: "Mirador-Medium";
$MiradorMediumItalic: "Mirador-MediumItalic";
$MiradorLight: "Mirador-Light";
$MiradorBold: "Mirador-Bold";
$Roboto: "Roboto";
/*Font Weights*/
$Bold: 700;
$Medium: 500;
$Regular: 400;
$Light: 300;
/* Color palette */
$PrimaryColor: #FF5722;
$PrimaryColorDark: #E64A19;
$SecondaryColor: #607D8B;
$Black: #111820;
$White: #ffffff;
$GrayThin: #f8f8fd;
$GrayLight: #e8e9f3;
$GrayRegular: #969da2;
$GrayMedium: #5c6166;
$GrayBold: #363d46;
$Crimson: #ef5350;
$Honey: #f1be43;
$Lime: #28ca80;
$Surf: #6d85f4;
/* Text colors*/
$colorList: (
  PrimaryColor: $PrimaryColor,
  PrimaryColorDark: $PrimaryColorDark,
  SecondaryColor: $SecondaryColor,
  Black: $Black,
  White: $White,
  GrayThin: $GrayThin,
  GrayLight: $GrayLight,
  GrayRegular: $GrayRegular,
  GrayMedium: $GrayMedium,
  GrayBold: $GrayBold,
);
@each $index, $value in $colorList {
  &[data-color="#{$index}"] {
    color: $value !important;
  }
}
@each $index, $value in $colorList {
  &[data-background="#{$index}"] {
    background: $value !important;
  }
}
@each $index, $value in $colorList {
  &[data-backgroundGradient="#{$index}"] {
    background-image: linear-gradient(110deg, $value, $PrimaryColor), linear-gradient($value, $PrimaryColor);
  }
}
