/*Config File*/
/*Fonts*/
$Montserrat: "Montserrat";
/*Font Weights*/
$Bold: 700;
$Medium: 500;
$Regular: 400;
$Light: 300;
/* Color palette */
$PrimaryColor: #ff5a63;
$PrimaryColorDark: #E64A19;
$PrimaryColorLight: #FF9752;
$SecondaryColor: #47A594;
$Black: #111820;
$White: #ffffff;
$GrayThin: #f5f5f5;
$GrayLight: #e8e9f3;
$GrayRegular: #969da2;
$GrayMedium: #5c6166;
$GrayBold: #484848;
$Crimson: #ef5350;
$Honey: #FFC107;
$Lime: #28ca80;
$Surf: #6d85f4;
