$formWhite: $White;
$formGrayLight: $GrayLight;
$formGrayRegular: $GrayRegular;
$formGrayMedium: $GrayMedium;
$formGrayBold: $GrayBold;
$formPrimaryColor: $SecondaryColor;
$formSuccessColor: $Lime;
$formErrorColor: $Crimson;
$formWarningColor: $Honey;
$formInfoColor: $Surf;
