@import "formFieldsConfig";

.formFields {
  width: 90%;
  margin: 0 auto;
  //padding: 40px 0;
  .formWrapper {
    max-width: 600px;
    margin: 0 auto;
    font-size: 0;
  }
  .formTitle {
    @include fontGiant;
    text-align: center;
    margin-bottom: 40px;
  }
  .formSubtitle {
    @include fontM($formGrayMedium);
    margin-bottom: 40px;
  }
  .formSectionTitle {
    @include fontXL;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .formSectionSubtitle {
    @include fontM($formGrayRegular);
    margin-bottom: 20px;
  }
  .formText {
    margin: 40px 0;
    p {
      @include fontS;
    }
  }
  input,textarea,label {
    outline: none;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }
  @include mq(0, 768px) {
    .formSectionTitle {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
}
.radioField,
.checkField {
  vertical-align: top;
  //word-break: break-all;
  word-break:normal;
  word-wrap:break-word;
  display: inline-block;
  width: 100%;
  &.half {
    width: 50%;
    display: inline-block;
  }
  &.oneThird {
    width: 33.3333%;
    display: inline-block;
  }
  &.twoThirds {
    width: 66.6666%;
    display: inline-block;
  }
  @include mq(0, 768px) {
    &.half,
    &.oneThird,
    &.twoThirds {
      width: 100%;
      padding: 20px 10px;
      display: inline-block;
    }
  }
  &.disabled {
    pointer-events: none;
    label {
      color: $formGrayLight;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
      border-color: $formGrayLight;
      color: $formGrayLight;
    }
    label:before {
      border-color: $formGrayLight;
    }
  }
}
.radioContainer.error {
  .radioField {
    color: $formErrorColor;
    &:before {
      border-color: $formErrorColor;
    }
  }
}
.checkContainer.error {
  .checkField {
    color: $formErrorColor;
    &:before {
      border-color: $formErrorColor;
    }
  }
}
.radioField,
.checkField {
  position: relative;
  padding: 13px 10px 10px 10px;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  color: $formGrayMedium;
  input {
    display: none;
  }
  label{
    padding-left: 20px;
    @include fontXS(currentColor);
    display: inline-block;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      border: 1px solid currentColor;
      left: 0;
      top: 11px;
    }
    &:after {
      display: block;
      position: absolute;
      transform-origin: center;
      transform: scale(0);
      transition: all .1s ease-out;
    }
  }
  input:checked + label:after {
    transform: scale(1);
  }
  &.error {
    color: $formErrorColor;
    &:before {
      border-color: $formErrorColor;
    }
  }
  @include mq(0,768px) {
    padding: 10px;
    label {
      padding-left: 30px;
      &:before {
        top: 8px;
      }
      &:after {

      }
    }
  }
}
.radioField {
  label {
    &:before {
      border-radius: 50%;
    }
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      background-color: $formPrimaryColor;
      border-radius: 50%;
      left: 7px;
      top: 22px;
    }
  }
  @include mq(0, 768px) {
    label {
      &:after {
        top: 15px;
      }
    }
  }
}
.checkField {
  label {
    &:after{
      content: "\e911";
      font-family: 'icomoon';
      font-size: 24px;
      color: $formPrimaryColor;
      left: -1px;
      top: 11px;
    }
  }
  &.disclaimer {
    margin-top: 40px;
    label {
      @include fontXS($formGrayRegular);
      &:after {
        top: 19px;
      }
    }
    &.error {
      label {
        color: $formErrorColor;
      }
    }
  }
  @include mq(0, 768px) {
    label {
      &:after {
        top: 8px;
      }
    }
    &.disclaimer {
      label {
        &:after {
          top: 12px;
        }
      }
    }
  }
}
