.newsletter {
    width: 100%;
    padding:40px 0;
    background-color:$PrimaryColor;
    text-align: center;
    @include mq(0, 620px) {
        .btn {
            margin-top: 10px;
            min-width: 120px;
        }
    }
    .wrapper {
        h4 {
            font-family: $Montserrat;
            font-size: 20px;
            color:#FFF;
            display: block;
            text-align: center;
            position: relative;
            margin-bottom: 30px;
        }
        input {
            background: #ff8d93;
            color: #FFF;
            font-family: $Montserrat;
            font-weight: $Light;
            border:none;
            font-size: 12px;
            max-width: 380px;
            margin-right: 10px;
            width: 100%;
            text-align: center;
            @include mq(0,630px){
                margin:0 0 10px 0;
                max-width: 80%;
            }
        }
        p {
            color: #FFF;
            font-size: 11px;
            font-family: $Montserrat;
            display: block;
            margin-top: 10px;
        }
        button {
          color: $White;
          border-color: $White;
        }
        input,.btn {
          vertical-align: middle;
        }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFFFFF;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #FFFFFF;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #FFFFFF;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #FFFFFF;
      }
      :focus {
        outline-color: transparent;
        outline-style: none;
      }
}
