header {
  padding: 20px;
  background: #F7F7F7;
  width: 100%;
  text-align: right;
  position: relative;
  z-index: 10;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  .trippur {
    width: 105px;
    height: 23px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    left: 15px;
    top: 30px;

    &:before {
      content: url("../images/trippur-logo-orange.png");
    }
  }

  &[data-position="fixed"] {
    position: fixed;
  }

  &[data-position="absolute"] {
    position: absolute;
  }

  &[data-theme="white"] {
    background: none;
    box-shadow: none;
    .trippur {
      &:before {
        content: url("../images/trippur-logo-white.png");
      }
    }
    .langSelector p {
      color: $White;
    }
    nav {
      a {
        color: #FFF;
      }
    }
  }

  nav {
    display: inline-block;
    text-align: right;

    > ul > li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      > * {
        padding: 10px 0;
      }
    }

    a {
      color: $PrimaryColor;
      text-decoration: none;
      font-family: $Roboto;
      font-size: 14px;
    }
  }
}
