.photobar {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  &__title {
    @include fontM;
    text-align: center;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  @include mq(0, 980px) {
    width: 100%;
    li {
      display: inline-block;
      width: 20%;
    }
  }
  @include mq(0, 512px) {
    width: 100%;
    li {
      display: inline-block;
      width: 100%;
    }
  }
}
